<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta http-equiv="imagetoolbar" content="no">
    <title>{% block title %}Киоск плюс{% endblock %}</title>


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <style>
        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-thin.woff') }});#}
            {#font-weight: 100;#}
            {#font-style: normal#}
        {#}#}

        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-thin-italic.woff') }});#}
            {#font-weight: 100;#}
            {#font-style: italic#}
        {#}#}

        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-light.woff') }});#}
            {#font-weight: 300;#}
            {#font-style: normal#}
        {#}#}

        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-light-italic.woff') }});#}
            {#font-weight: 300;#}
            {#font-style: italic#}
        {#}#}

        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-regular.woff') }});#}
            {#font-weight: 400;#}
            {#font-style: normal#}
        {#}#}

        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-regular-italic.woff') }});#}
            {#font-weight: 400;#}
            {#font-style: italic#}
        {#}#}

        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-bold.woff') }});#}
            {#font-weight: 700;#}
            {#font-style: normal#}
        {#}#}

        {#@font-face {#}
            {#font-family: Roboto;#}
            {#src: url({{ asset('fonts/roboto-bold-italic.woff') }});#}
            {#font-weight: 700;#}
            {#font-style: italic#}
        {#}#}

        {#@font-face {#}
            {#font-family: Rouble;#}
            {#src: url({{ asset('fonts/rouble.woff') }});#}
            {#font-weight: 400;#}
            {#font-style: normal#}
        /*}*/
    </style>




</head>
<body>
<div id="wrapper">
    {#<div id="menu" style="width: 270px;">#}
        {#<div class="sidemenu" style="" id="sidemenu">#}


            {#<div class='page-with-sliding-aside'>#}

                {#<div class='page-sliding-aside-content'>#}
                    {#<div class='user-profile user-profile-authorized'>#}
                        {#<div class='user-logout'>#}
                            {#<a href='http://m.megafonpro.ru/login/signuper'>Еще нет аккаунта?</a>#}
                        {#</div>#}
                        {#<div class='user-login'>#}
                            {#<a href='http://m.megafonpro.ru/login/new'>Войти</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<nav class='menu-main' role='navigation'>#}
                        {#<ul class='menu-list' role='menubar'>#}
                            {#<li class='current home-menu-item menu-item' role='presentation'>#}
                                {#<a class='menu-item-content' href='http://m.megafonpro.ru/home_new' role='menuitem'>#}
                                    {#<span class='menu-item-text'>Главная</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li class='menu-item menu-opened menu-item-with-submenu media-menu-item' role='presentation'>#}
{#<span class='menu-item-content' role='menuitem'>#}
{#<span class='menu-item-text'>Медиа</span>#}
{#</span>#}
                                {#<div class='menu-main menu-nested menu-level-2'>#}
                                    {#<ul class='menu-list' role='menu'>#}
                                        {#<li class='menu-item' role='presentation'>#}
                                            {#<a class='menu-item-content' href='http://ip.megafonpro.ru/cat/mediamix'#}
                                               {#role='menuitem'>#}
                                                {#<span class='menu-item-text'>МедиаМикс</span>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class='menu-item' role='presentation'>#}
                                            {#<a class='menu-item-content' href='http://m.megafonpro.ru/igames' role='menuitem'>#}
                                                {#<span class='menu-item-text'>Игры</span>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class='menu-item' role='presentation'>#}
                                            {#<a class='menu-item-content' href='http://muz.megafonpro.ru' role='menuitem'>#}
                                                {#<span class='menu-item-text'>Музыка</span>#}
                                            {#</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</li>#}

                            {#<li class='menu-item kiosk-menu-item' role='presentation'>#}
                                {#<a class='menu-item-content' href='http://kiosk.megafonpro.ru' role='menuitem'>#}
                                    {#<span class='menu-item-text'>МегаФон Киоск</span>#}
                                {#</a>#}
                            {#</li>#}

                            {#<li class='menu-item megafon-mail-menu-item' role='presentation'>#}
                                {#<a class='menu-item-content' href='http://megafon.mobi/#/landing' role='menuitem'>#}
                                    {#<span class='menu-item-text'>МегаФон Почта</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li class='menu-item megafon-tv-menu-item' role='presentation'>#}
                                {#<a class='menu-item-content'#}
                                   {#href='https://play.google.com/store/apps/details?id=com.megalabs.megafon.tv' role='menuitem'>#}
                                    {#<span class='menu-item-text'>МегаФон ТВ</span>#}
                                {#</a>#}
                            {#</li>#}




                            {#<li class='menu-item communication-menu-item' role='presentation'>#}
                                {#<a class='menu-item-content' href='http://m.megafonpro.ru/ml/?mpro=1&amp;c=index&amp;m=index'#}
                                   {#role='menuitem'>#}
                                    {#<span class='menu-item-text'>Общение и знакомства</span>#}
                                {#</a>#}
                            {#</li>#}


                            {#<li class='menu-item menu-item-with-submenu adult-menu-item' role='presentation'>#}
{#<span class='menu-item-content' role='menuitem'>#}
{#<span class='menu-item-text'>Для взрослых</span>#}
{#</span>#}
                                {#<div class='menu-main menu-nested menu-level-2'>#}
                                    {#<ul class='menu-list' role='menu'>#}
                                        {#<li class='menu-item' role='presentation'>#}
                                            {#<a class='menu-item-content' href='http://m.megafonpro.ru/videomir' role='menuitem'>#}
                                                {#<span class='menu-item-text'>Видеомир</span>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class='menu-item' role='presentation'>#}
                                            {#<a class='menu-item-content' href='http://m.megafonpro.ru/fotomir' role='menuitem'>#}
                                                {#<span class='menu-item-text'>Фотомир</span>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class='menu-item' role='presentation'>#}
                                            {#<a class='menu-item-content'#}
                                               {#href='http://wap.megafonpro.ru/is3nwp/psmf/generate?service_id=22&amp;template=playboy_sub_1cl&amp;url=http%3A%2F%2Fwap.megafonpro.ru%2Fis3nwp%2Fproxy%2Fwap%2Fmpb%2Fpb%2F%3Ftype%3Dmain'#}
                                               {#role='menuitem'>#}
                                                {#<span class='menu-item-text'>Playboy</span>#}
                                            {#</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</li>#}


                            {#<li class='menu-item subscriptions-menu-item' role='presentation'>#}
                                {#<a class='menu-item-content' href='http://m.megafonpro.ru/podpiski' role='menuitem'>#}
                                    {#<span class='menu-item-text'>Подписки</span>#}
                                {#</a>#}
                            {#</li>#}



                        {#</ul>#}
                    {#</nav>#}
                {#</div>#}

            {#</div>#}

        {#</div>#}

    {#</div>#}



</div>


{% block body %}{% endblock %}
</body>
</html>
