{% extends 'base.html.twig' %}
{% block bodyclass %}{{ body_class }}{% endblock %}
{% block body %}


    <div class="container-fluid main bundle" id="main">

        <header class="page-header" role="banner">
            <div id="menu_button" onclick="$('#mine_menu').slideToggle()"> </div>
            <div id="mine_menu">
                <p><a href="{{ base_url }}" style="text-decoration: none;">НА ГЛАВНУЮ</a></p>
            </div>
            <div class="page-header-main-content">
                <span class="adult"> </span>
                <div class="logo">
                    <div class="logo-link">
                        <div class="kiosk-bundle-title">
                            <a href="{{ base_url }}">
                                <div class="logo-image"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header-aside-content">
                <div class='page-sliding-aside-handle' role='button' tabindex='0' style="display: none;"></div>
            </div>
        </header>
        <div class="grad"></div>




        {#<h2>Список журналов:</h2>#}
        <div class="magazines" style="overflow: hidden; text-align: center;">
            {% for key,item in j_names %}
                <div class="journal-{{ key }} item">
                    <span class="j-group-title">{{ item }}</span>
                    {% for key2,item2 in journals_grouped[item] %}
                        <div class="magazine">
                            <div class="magazine-inner">
                                <a href="{{ url('detail', {
                                    'title': item2.url,
                                    'year' : item2.year,
                                    'month' : item2.month,
                                    'number' : item2.number
                                }) }}">

                                    <div class="cover journal-url-{{ item2.url }}" style="
                                            background-image: url('{{ item2.imageMain }}');
                                            "></div>

                                </a>
                                <p class="title">
                                    <a href="{{ url('detail', {
                                        'title': item2.url,
                                        'year' : item2.year,
                                        'month' : item2.month,
                                        'number' : item2.number
                                    }) }}">
                                        {{ item2.title }}
                                    </a>
                                    <span class="shadow"></span>
                                </p>
                                <p class="date">
                                    {#{{ item.month|date("F") }}#}

                                    {{ item2.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}

                                    {{ item2.year }}</p>
                                <p class="edition">
                                    {% if item2.getNumberSet == 0 %}
                                        выпуск {{ item2.number }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}


            <!-- / one magazine -->
        </div>
        <!-- / magazines-->

        <div class="footer">

            {% if body_class != 'men' %}
                <p class="disclaimer">
                    <a href="{{ url("all") }}">Все журналы</a>
                </p>
            {% endif %}
            <p class="disclaimer">
                Киоск плюс 2016-2017
            </p>

            <p class="accordion disclaimer">Информация для пользователей</p>
            <div class="panel">
                <ul id="open">
                    <li><a href="/info">Информация для пользователей</a></li>
                    <li><a href="/manage">Управление Услугой</a></li>
                    <li><a href="/term">Условия оказания услуги</a></li>
                </ul>
            </div>

            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].onclick = function () {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                    }
                }
            </script>
        </div>
        <!-- / footer -->
    </div>
{% endblock %}



