{% extends 'base.html.twig' %}
{% block bodyclass %}{{ body_class }}{% endblock %}
{% block title %}
    {{ journal.title }}
    {% if journal.getDoubleMonth == 1 %}
        {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
        -
        {{ journal.date | date_modify("+1 month") | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
    {% else %}
        {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
    {% endif %}
    {{ journal.year }}
{% endblock %}

{% block body %}
<div class="container-fluid main"  id="main">

    <header class="page-header" role="banner">
        <div class="page-header-main-content">
            <a href="{{ base_url }}">
                <div class="logo-image"></div>
            </a>
            {% image '@AppBundle/Resources/public/images/18.png' %}
            <img alt="Возрастное ограничение 18+" class="restriction-badge " src="{{ asset_url }}">
            {% endimage %}
            <div class="logo">
                <div class="logo-link">
                    <span class="kiosk-logo-image"></span>
                    <div class="kiosk-bundle-title">Киоск Плюс</div>
                </div>

            </div>
        </div>
        <div class="page-header-aside-content">
            <div class='page-sliding-aside-handle' role='button' tabindex='0' style="display: none;" ></div>
        </div>
    </header>
    <!-- / header -->


    <div class="container-fluid">

        <div class="previews">
            <div class="title" style="padding: 12px 0;">
                <h2 class="top">
                    {#<a href="//kiosk.megafonpro.ru/rake">#}
                        {{ journal.title }}
                    {#</a>#}
                </h2>
                <p class="bottom" style="padding-left: 10px;">

                    {% if journal.getDoubleMonth == 1 %}
                        {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                        -
                        {{ journal.date | date_modify("+1 month") | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                    {% else %}
                        {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                    {% endif %}

                    {{ journal.year }}

                </p>
            </div><!-- / title -->
            <div class="preview">
                <div class="image">
                    <img src="{{ journal.imageMain }}" alt="" />
                </div>
                <div class="preland-inner" style="margin: 20px -25px;">
                    <a href="{{ url('read', {
                        'title': journal.url,
                        'year' : journal.year,
                        'month' : journal.month,
                        'number' : journal.number
                    }) }}" class="flat gray">Перейти в журнал</a>
                </div>
            </div>



            <h2>Читайте также:</h2>
            <div class="one-col">
                <div class="inner">
                    <!-- "magazine" variable must be defined -->
                    {% for item in rest %}
                        <div class="magazine">
                            <div class="magazine-inner">
                                <a href="{{ url('detail', {
                                    'title': item.url,
                                    'year' : item.year,
                                    'month' : item.month,
                                    'number' : item.number
                                }) }}">
                                    <div class="cover" style="background-image: url('{{ item.imageMain }}');"></div>
                                    <p class="title">
                                        <a href="{{ url('detail', {
                                            'title': item.url,
                                            'year' : item.year,
                                            'month' : item.month,
                                            'number' : item.number
                                        }) }}">
                                            {{ item.title }}
                                        </a>
                                    </p>
                                    <p class="date">
                                        {% if item.getDoubleMonth == 1 %}
                                            {{ item.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                                            -
                                            {{ item.date | date_modify("+1 month") | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                                        {% else %}
                                            {{ item.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                                        {% endif %}

                                        {{ item.year }}
                                    </p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


    <div class="footer">
        <p class="disclaimer">
            <a href="{{ url("all") }}">Все журналы</a>
        </p>

        <p class="disclaimer">
            Киоск плюс 2016-2017
        </p>

        <p class="accordion disclaimer">Информация для пользователей</p>
        <div class="panel">
            <ul id="open">
                <li><a href="/info">Информация для пользователей</a></li>
                <li><a href="/manage">Управление Услугой</a></li>
                <li><a href="/term">Условия оказания услуги</a></li>
            </ul>
        </div>

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight){
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                }
            }
        </script>
    </div>
    <!-- / footer -->
</div>
{% endblock %}



