{% extends 'base.html.twig' %}
{% block bodyclass %}{{ body_class }}{% endblock %}
{% block title %}
    {{ journal.title }}
    {% if journal.getDoubleMonth == 1 %}
        {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
        -
        {{ journal.date | date_modify("+1 month") | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
    {% else %}
        {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
    {% endif %}
    {{ journal.year }}
{% endblock %}

{% block body %}
    <div style="display: none;" id="page_variables">
        <div class="pages">
            [{% for file in fileNames %}"{{ file }}",{% endfor %}]
        </div>
        <div class="currentPage">{{ page }}</div>
        <div class="issueUrl">{{ url('read', {
                'title': journal.url,
                'year' : journal.year,
                'month' : journal.month,
                'number' : journal.number
            }) }}</div>
        <div class="issueId">{{ journal.identifier }}</div>
        <div class="tableOfContents">{{ journal.listing }}</div>

        <div class="endOfContentsNotSubscribed">{{ journal.listing + 3 }}</div>
    </div>
    <div class="container-fluid" id="main">
        <style>
            *{margin: 0; padding: 0;}
            html {
                height: auto;
                min-width: 320px;
                background: #fff;
            }

            img {
                pointer-events: none;
            }

            #main {
                max-width: none;
                height: 100%;
                min-height: 100%;
                box-shadow: none;
            }

            .page-container {
                margin: 0 auto;
                background: #fff;
                overflow: hidden;
                min-height: 100%;
            }

            #issue-controls > * {
                pointer-events: auto;
            }

            .numbers div {
                text-align: center;
                float: left;
            }

            #controls {
                pointer-events: none;
                opacity: 0.9;
                color: #555;
            }

            #controls div {
                pointer-events: auto;
            }

            #controls .arrow {
                position: absolute;
                top: 0;
                margin-top: 0;
                height: 100%;
                width: 11%;
                max-width: 50px;
                min-width: 40px;
                min-height: 50px;
                z-index: 50;
                font-size: 8px;
                opacity: 0.4;
            }
            #controls .arrow.left {left: 0;}
            #controls .arrow.right {right: 0;}
            #controls .arrow.left div {left: 4px;}
            #controls .arrow.right div {right: 4px;}
            #controls .arrow div {
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                bottom: 30%;
            }

            #controls .arrow a {
                display: inline-block;
                border-radius: 50%;
            }

            #controls .arrow a:hover .left, #controls .arrow a:hover .right{
                border: 0.5em solid #e74c3c;
            }

            #controls .arrow a:hover .left:after, #controls .arrow a:hover .right:after {
                border-top: 0.5em solid #e74c3c;
                border-right: 0.5em solid #e74c3c;
            }

            #controls .arrow .left {
                display: inline-block;
                width: 4em;
                height: 4em;
                border: 0.5em solid #333;
                border-radius: 50%;
            }

            #controls .arrow .left:after {
                content: '';
                display: inline-block;
                margin-top: 1.05em;
                margin-left: 1.3em;
                width: 1.4em;
                height: 1.4em;
                border-top: 0.5em solid #333;
                border-right: 0.5em solid #333;
                -moz-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            #controls .arrow .right {
                display: inline-block;
                width: 4em;
                height: 4em;
                border: 0.5em solid #333;
                border-radius: 50%;
            }

            #controls .arrow .right:after {
                content: '';
                display: inline-block;
                margin-top: 1.05em;
                margin-left: 0.8em;
                width: 1.4em;
                height: 1.4em;
                border-top: 0.5em solid #333;
                border-right: 0.5em solid #333;
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .imagec {
                position: relative;
            }

            div .imagec .glass {
                background: url({{ url('homepage') }}/images/glass.png) no-repeat bottom right;
                position: absolute;
                bottom: 10px;
                right: 10px;
                height: 80px;
                width: 80px;
                background-size: contain;
            }

            embed{
                width: 100%;
                height: 1000px;
            }

        </style>



        <div class="view" id="view"
             style="height: 100%; width: 100%; max-width: 1024px; margin: 45px auto 0; min-height: 100%;">

            <div id="controls"
                 style="position: fixed; height: 100%; width: 100%; pointer-events: none;; z-index: 9999; max-width: 1024px; top:0;">
                <div class="top_panel"
                     style="top: 0; width: 100%; height: 45px; position: absolute; font-size: 10px; z-index: 100;">
                    <div style="margin: 10px 10px 0 0; text-align: right;">
                        <div>

                            <span style="font-weight: 400;">{{ journal.title }}</span>, {% if journal.getDoubleMonth == 1 %}
                                {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                                -
                                {{ journal.date | date_modify("+1 month") | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                            {% else %}
                                {{ journal.date | localizeddate('none', 'none', 'ru_RU', null, 'LLLL') | capitalize }}
                            {% endif %}

                            {{ journal.year }}

                        </div>
                    </div>
                    <div style="margin-right: 10px; text-align: right;">
                        <div>{{ page }} из {{ pages }}</div>
                    </div>


                    <div id="bookmarks_button"
                         style=" display: none; background: url({{ url('homepage') }}/images/bookmark.png) no-repeat center; background-size: 80%; height: 35px; width: 30px; position: absolute; top: 5px; right: 10px;">

                    </div>
                    <div id="menu_button">

                    </div>

                    <div id="viewer_menu">
                        <p><a href="{{ url('homepage') }}" style="text-decoration: none;">Ко всем журналам</a></p>
                        <p id="toc_button">Оглавление выпуска</p>
                    </div>



                    <div id="bookmarks"
                         style="display: none; width: 150px; position: absolute; right: 0; top: 45px; z-index: -1; padding: 10px; font-size: 14px; box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.4);">
                        <div class="bookmarks_container">
                        </div>

                        <div>

                            <div style="text-align: center; font-size: 24px;" id="add_bookmark_button">
                                +
                            </div>

                        </div>
                    </div>

                </div>
                <div class="right arrow">
                    <div>
                        <a href="#">
                            <span class="right"></span>
                        </a>
                    </div>
                </div>
                <div class="left arrow">
                    <div>
                        <a href="#">
                            <span class="left"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="page-container page0">
                {% autoescape %}
                    {{ html|raw }}
                {% endautoescape %}
                {#<embed src="{{ html_path }}">#}
                {#{{ html }}#}
            </div>
        </div>
    </div>

{% endblock %}



